<template>
    <v-data-table
      :headers="headers"
      :items="especies"
      sort-by="codigo"
      class="elevation-1"
    >
      <template v-slot:top>
        <div>
          <v-row class="pa-4 pb-0">
            <v-col md="3">
              <v-text-field
                solo
                dense
                v-model="editedItem.nome"
                label="Nome"
              ></v-text-field>
            </v-col>
            <v-col md="3">
              <v-text-field
                solo
                dense
                v-model="editedItem.codigo"
                label="Código"
              ></v-text-field>
            </v-col>
            <v-col md="3">
              <v-text-field
                solo
                dense
                v-model="editedItem.descricao"
                label="Descrição"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-btn>Salvar</v-btn>
              <v-divider class="mx-0" inset vertical></v-divider>
              <v-btn>Cancelar</v-btn>
            </v-col>
          </v-row>
        </div>
        <v-dialog v-model="dialog" max-width="1200px">
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.nome"
                      label="Nome"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.codigo"
                      label="Código"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.descricao"
                      label="Descrição"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">
                Cancelar
              </v-btn>
              <v-btn color="blue darken-1" text @click="save"> Salvar </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Deseja deletar este item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancelar</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template v-slot:item.opcoes="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Nome",
        align: "start",
        sortable: false,
        value: "nome",
      },
      { text: "Código", value: "codigo" },
      { text: "Descrição", value: "descricao" },
      { text: "Opções", value: "opcoes", sortable: false },
    ],
    especies: [],
    editedIndex: -1,
    editedItem: {
      nome: "",
      codigo: "",
      descricao: "",
    },
    defaultItem: {
      nome: "",
      codigo: "",
      descricao: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nova Espécie" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.especies = [
        {
          nome: "Espécie 01",
          codigo: 159,
          descricao: "Nova Espécie",
        },
        {
          nome: "Espécie 02",
          codigo: 160,
          descricao: "Nova Espécie",
        },
      ];
    },

    editItem(item) {
      this.editedIndex = this.especies.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.especies.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.especies.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.especies[this.editedIndex], this.editedItem);
      } else {
        this.especies.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
