<template>
  <v-card>
    <v-card-title class="text-center justify-center py-6">
        Cadastros
    </v-card-title>

    <v-tabs
      v-model="tab"
      background-color="transparent"
      grow
    >
      <v-tab>Tipo</v-tab>
      <v-tab>Grupo</v-tab>
      <v-tab>Espécie</v-tab>
      <v-tab>Marca</v-tab>
      <v-tab>Carroceria</v-tab>
      <v-tab>Categoria CNH</v-tab>
      <v-tab>SICOM Tipo</v-tab>
      <v-tab>SICOM Subtipo</v-tab>
      <v-tab>Categoria</v-tab>


    <v-tabs-items v-model="tab">
        <ExcelVehicleType v-if="tab === 0"/>
        <ExcelVehicleGroup v-if="tab === 1"/>
        <ExcelVehicleKind v-if="tab === 2"/>
        <ExcelVehicleBrand v-if="tab === 3"/>
        <ExcelVehicleBodyWork v-if="tab === 4"/>
        <ExcelVehicleCategoryCNH v-if="tab === 5"/>
        <ExcelVehicleSicomType v-if="tab === 6"/>
        <ExcelVehicleSicomSubType v-if="tab === 7"/>
        <ExcelVehicleCategory v-if="tab === 8"/>
    </v-tabs-items>
    </v-tabs>
  </v-card>
</template>

<script>
import ExcelVehicleType from "@/views/CodeName/excelVehicleType"
import ExcelVehicleGroup from "@/views/CodeName/excelVehicleGroup"
import ExcelVehicleKind from "@/views/CodeName/excelVehicleKind"
import ExcelVehicleBrand from "@/views/CodeName/excelVehicleBrand"
import ExcelVehicleBodyWork from "@/views/CodeName/excelVehicleBodyWork"
import ExcelVehicleCategoryCNH from "@/views/CodeName/excelVehicleCategoryCNH"
import ExcelVehicleSicomType from "@/views/CodeName/excelVehicleSicomType"
import ExcelVehicleSicomSubType from "@/views/CodeName/excelVehicleSicomSubType"
import ExcelVehicleCategory from "@/views/CodeName/excelVehicleCategory"
  export default {
      components: {
    ExcelVehicleType,
    ExcelVehicleGroup,
    ExcelVehicleKind,
    ExcelVehicleBrand,
    ExcelVehicleBodyWork,
    ExcelVehicleCategoryCNH,
    ExcelVehicleSicomType,
    ExcelVehicleSicomSubType,
    ExcelVehicleCategory
      },
    data () {
      return {
        tab: null,
      }
    },
  }
</script>
