<template>
  <div>
    <v-card>
      <v-card-title>
        <span class="text-h5">{{ formTitle }}</span>
        <v-divider class="mx-4" inset vertical></v-divider>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <El-text-field
                label="Nome"
                v-model="editedItem.nome"
              />
            </v-col>
            <v-col cols="12" md="4">
              <El-text-field
                label="Código"
                v-model="editedItem.codigo"
              />
            </v-col>
            <v-col cols="12" md="4">
              <El-text-field
                label="Descrição"
                v-model="editedItem.descricao"
              />
            </v-col>
            <v-divider class="mx-4" inset></v-divider>
          </v-row>
          <v-row>
            <v-col cols="4">
              <El-select
                label="Modelo"
                v-model="form.modelos"
                :items="list.modelos"
                to="/novoModelo"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn to="/veiculo" color="blue darken-1" text @click="close">
          Cancelar
        </v-btn>
        <v-divider class="mx-0" inset vertical></v-divider>
        <v-btn color="blue darken-1" text @click="save"> Salvar </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "NewVehicleView",
  data: () => ({
    list: {
      veiculos: ["Veiculo 1", "Veiculo 2", "Veiculo 3", "Veiculo 4"],
    },
    form: {
      veiculos: null,
    },
    dialog: false,
    dialogDelete: false,

    veiculos: [],
    editedIndex: -1,
    editedItem: {
      nome: "",
      codigo: "",
      descricao: "",
      modelo: "",
    },
    defaultItem: {
      nome: "",
      codigo: "",
      descricao: "",
      modelo: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Novo Veiculo" : "Edit Item";
    },
  },

  methods: {
    deleteItemConfirm() {
      this.veiculos.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.veiculos[this.editedIndex], this.editedItem);
      } else {
        this.veiculos.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
