<template>
  <v-menu
    v-model="showDate"
    offset-y
    max-width="290px"
    min-width="auto"
    :close-on-content-click="false"
  >
    <template #activator="{ on }">
      <v-text-field
        label="Data"
        v-model="dateFormatted"
        v-mask="'##/##/####'"
        append-icon="mdi-calendar-month"
        solo
        clearable
        @click:append="showDate = !showDate"
        @keyup.down="showDate = true"
        @keyup.enter="dateValue = parseDate(dateFormatted)"
        @blur="dateValue = parseDate(dateFormatted)"
        @focus="showDate = false"
      ></v-text-field>
    </template>
    <v-date-picker no-title v-model="dateValue" @input="showDate = false" />
  </v-menu>
</template>

<script>
export default {
  name: "DateInputComponent",
  props: { value: { type: Date } },
  watch: {
    value(value) {
      this.dateValue = value;
    },
    dateValue(value) {
      this.dateFormatted = this.formatDate(value);
    },
  },
  data() {
    return {
      dateValue: null,
      dateFormatted: null,
      showDate: false,
    };
  },
  methods: {
    formatDate(value) {
      if (!value) return;
      let _value = value.toISOString().split("T").shift()
      const [year, month, day] = _value.split("-");
      return `${day.padStart(2, 0)}/${month.padStart(2, 0)}/${year}`;
    },
    parseDate(value) {
      if (!value) return;
      const [day, month, year] = value.split("/");
      return `${year}-${month.padStart(2, 0)}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.dateValue = this.value
  }
};
</script>
