<template>
  <v-select
  :value="elValue"
  clearable
  dense
  solo
  :items="items"
  :label="label"
  @change="change"
  >
    <template
    v-slot:item="{ item, attrs, on }"
    >
      <v-list-item
      v-bind="attrs"
      v-on="on"
      >
        <v-list-item-title
          :id="attrs['aria-labelledby']"
          v-text="item"
        ></v-list-item-title>
      </v-list-item>
    </template>
    <template
    v-if="to"
    #append-outer
    >
      <v-btn
      :to="to"
      class="mx-2"
      fab
      dark
      x-small
      color="#BDBDBD"
      >
        <v-icon
        dark
        >
        mdi-plus
        </v-icon>
      </v-btn>
    </template>
  </v-select>
</template>

<script>
export default {
  name: "El-select",
  props: ["value", "items", "label", "to"],
  data() {
    return {
      elValue: null,
    };
  },
  watch: {
    value(newValue) {
      this.elValue = newValue;
    },
  },
  methods: {
    change(value) {
      this.elValue = value
      this.$emit("input",value);
    },
  },
};
</script>
