<template>
  <v-text-field
    clearable
    dense
    solo
    :items="items"
    :label="label"
    @change="change"
  ></v-text-field>
</template>

<script>
export default {
  name: "El-text-field",
  props: ["value", "items", "label"],
  data() {
    return [];
  },
};
</script>
