<template>
  <v-menu
    v-model="showTime"
    offset-y
    :close-on-content-click="false"
  >
    <template #activator="{ on }">
      <v-text-field
        label="Hora"
        v-model="timeValue"
        v-mask="'##:##'"
        append-icon="mdi-clock-time-eight-outline"
        solo
        clearable
        @click:append="showTime = !showTime"
        @keyup.down="showTime = true"
        @focus="showTime = false"
      ></v-text-field>
    </template>
    <v-time-picker v-model="timeValue" format="24hr" full-width/>
  </v-menu>
</template>

<script>
export default {
  name: "TimeInputComponent",
  props: { value: { type: String } },
  watch: {
    value(value) {
      this.timeValue = value;
    },
  },
  data() {
    return {
      timeValue: null,
      showTime: false,
    };
  },
  mounted() {
    this.timeValue = this.value
  }
};
</script>
