<template>
  <v-app dark>
    <v-main>
      <v-card>
        <v-toolbar color="rgb(36, 83, 120)" dark flat>
          <nuxt-link to="/">
            <v-img
              eager
              height="50"
              width="100"
              src="/geoLogo.svg"
              title="georastreamento"
              alt="logo georastreamento"
            />
          </nuxt-link>

            <v-tabs v-model="tab" centered slider-color="#01579B">
          <v-spacer></v-spacer>
              <v-tab v-for="i in items" :key="i.route" :to="i.route">
                {{ i.title }}
              </v-tab>
            </v-tabs>
          <v-spacer></v-spacer>

          <v-btn icon title="usuário">
            <v-icon>mdi-account-circle</v-icon>
          </v-btn>

        </v-toolbar>
      </v-card>

      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      tab: "tab-2",
      items: [
        {title: "Veiculo", route:"/veiculo"},
        {title: "Abastecimento", route:"/abastecimento"},
        {title: "Manutencao", route:"/manutencao"},
        {title: "Motorista", route:"/motorista"},
        {title: "Pneu", route:"/pneu"},
        {title: "Relatorio", route:"/relatorio"},
      ],
    };
  },
};
</script>
