<template>
  <div>
    <v-card>
      <v-card-title>
        <span class="text-h5">{{ formTitle }}</span>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <El-text-field
                label="Nome"
                v-model="editedItem.nome"
              />
            </v-col>
            <v-col cols="12" md="4">
              <El-text-field
              label="Código"
              v-model="editedItem.codigo"
              />
            </v-col>
            <v-col cols="12" md="4">
              <El-text-field
                label="Descrição"
                v-model="editedItem.descricao"
              />
            </v-col>
            <v-divider class="mx-4" inset></v-divider>
          </v-row>
          <v-row>
            <v-col cols="4">
              <El-select
                label="Grupo"
                v-model="form.grupos"
                :items="list.grupos"
                to="/tabs"
              />
            </v-col>
            <v-col cols="4">
              <El-select
                label="Tipo"
                v-model="form.tipos"
                :items="list.tipos"
                to="/tabs"
              />
            </v-col>
            <v-col cols="4">
              <El-select
                label="Espécie"
                v-model="form.especies"
                :items="list.especies"
                to="/tabs"
              />
            </v-col>
            <v-col cols="4">
              <El-select
                label="Marca"
                v-model="form.marcas"
                :items="list.marcas"
                to="/tabs"
              />
            </v-col>
            <v-col cols="4">
              <El-select
                label="Carroceria"
                v-model="form.carrocerias"
                :items="list.carrocerias"
                to="/tabs"
              />
            </v-col>
            <v-col cols="4">
              <El-select
                label="Categoria CNH"
                v-model="form.categorias_cnh"
                :items="list.categorias_cnh"
                to="/tabs"
              />
            </v-col>
            <v-col cols="4">
              <El-select
                label="SICOM Tipo"
                v-model="form.sicom_tipo"
                :items="list.sicom_tipo"
                to="/tabs"
              />
            </v-col>
            <v-col cols="4">
              <El-select
                label="SICOM Subtipo"
                v-model="form.sicom_subtipo"
                :items="list.sicom_subtipo"
                to="/tabs"
              />
            </v-col>
            <v-col cols="4">
              <El-select
                label="Categoria"
                v-model="form.categorias"
                :items="list.categorias"
                to="/tabs"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn to="/modelo" color="blue darken-1" text @click="close">
          Cancelar
        </v-btn>
          <v-divider
          class="mx-0"
          inset
          vertical
        ></v-divider>
        <v-btn color="blue darken-1" text @click="save">
          Salvar
          </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "NewVehicleModelView",
  data: () => ({
    list: {
      modelos: ["Modelo 1", "Modelo 2", "Modelo 3", "Modelo 4"],
      grupos: ["Grupo 1", "Grupo 2", "Grupo 3", "Grupo 4"],
      tipos: ["Tipo 1", "Tipo 2", "Tipo 3", "Tipo 4"],
      especies: ["Espécie 1", "Espécie 2", "Espécie 3", "Espécie 4"],
      marcas: ["Marca 1", "Marca 2", "Marca 3", "Marca 4"],
      carrocerias: ["Carroceria 1", "Carroceria 2", "Carroceria 3", "Carroceria 4"],
      categorias_cnh: ["Categoria 1", "Categoria 2", "Categoria 3", "Categoria 4"],
      sicom_tipo: ["SICOM Tipo 1", "SICOM Tipo 2", "SICOM Tipo 3", "SICOM Tipo 4"],
      sicom_subtipo: ["SICOM Subtipo 1", "SICOM Subtipo 2", "SICOM Subtipo 3", "SICOM Subtipo 4"],
      categorias: ["Categoria 1", "Categoria 2", "Categoria 3", "Categoria 4"],
    },
    form: {
      modelos: null,
      grupos: null,
      tipos: null,
      especies: null,
      marcas: null,
      carrocerias: null,
      categorias_cnh: null,
      sicom_tipo: null,
      sicom_subtipo: null,
      categorias: null,
    },
    dialog: false,
    dialogDelete: false,

    modelos: [],
    grupos: [],
    tipos: [],
    especies: [],
    marcas: [],
    carrocerias: [],
    categorias_cnh: [],
    sicom_tipo: [],
    sicom_subtipo: [],
    categorias: [],
    editedIndex: -1,
    editedItem: {
      nome: "",
      codigo: "",
      descricao: "",
      grupo: "",
      tipo: "",
    },
    defaultItem: {
      nome: "",
      codigo: "",
      descricao: "",
      grupo: "",
      tipo: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Novo Modelo" : "Edit Item";
    },
  },

  methods: {
    deleteItemConfirm() {
      this.modelos.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.modelos[this.editedIndex], this.editedItem);
      } else {
        this.modelos.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
