<template>
  <div id="app">
    <v-app id="inspire">
      <v-card>
        <v-data-table
          :headers="headers"
          :items="desserts"
          item-key="name"
          class="elevation-1"
        >
          <template v-slot:body="{ items, headers }">
            <tbody>
              <tr v-for="(item, idx, k) in items" :key="idx">
                <td v-for="(header, key) in headers" :key="key">
                  <v-edit-dialog
                    :return-value.sync="item[header.value]"
                    @save="save"
                    @cancel="cancel"
                    @open="open"
                    @close="close"
                    large
                  >
                    {{ item[header.value] }}
                    <template v-slot:input>
                      <v-text-field
                        v-model="item[header.value]"
                        label="Edit"
                        single-line
                      ></v-text-field>
                    </template>
                  </v-edit-dialog>
                </td>
              </tr>
            </tbody>
          </template>
        </v-data-table>
      </v-card>
    </v-app>
  </div>
</template>


<script>
export default {
  data() {
    return {
      headers: [
        {
          text: "Dessert",
          align: "left",
          sortable: false,
          value: "name",
        },
        { text: "Calories", value: "calories" },
        { text: "Fat (g)", value: "fat" },
        { text: "Carbs (g)", value: "carbs" },
        { text: "Protein (g)", value: "protein" },
        { text: "Iron (%)", value: "iron" },
      ],
      desserts: [
        {
          id: 1,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: "1%",
        },
        {
          id: 2,
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: "1%",
        },
        {
          id: 3,
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: "7%",
        },
        {
          id: 4,
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: "8%",
        },
      ],
    };
  },
  methods: {
    save() {},
    cancel() {},
    open() {},
    close() {},
  },
};
</script>
