<template>
  <div>
    <v-card>
      <v-card-title>
        <span class="text-h5">{{ formTitle }}</span>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                solo
                dense
                v-model="editedItem.nome"
                label="Nome"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                solo
                dense
                v-model="editedItem.codigo"
                label="Código"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                solo
                dense
                v-model="editedItem.descricao"
                label="Descrição"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <El-select
                label="Modelo"
                v-model="form.modelos"
                :items="list.modelos"
                to="/novoModelo"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn to="/marca" color="blue darken-1" text @click="close">
          Cancelar
        </v-btn>
        <v-divider
        class="mx-0"
        inset
        vertical
        ></v-divider>
        <v-btn color="blue darken-1" text @click="save">
          Salvar
          </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "NewVehicleBrandView",
  data: () => ({
    list: {
      marcas: ["Marca 1", "Marca 2", "Marca 3", "Marca 4"],
    },
    form: {
      marcas: null,
    },
    dialog: false,
    dialogDelete: false,

    marcas: [],
    editedIndex: -1,
    editedItem: {
      nome: "",
      codigo: "",
      descricao: "",
      modelo: "",
    },
    defaultItem: {
      nome: "",
      codigo: "",
      descricao: "",
      modelo: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nova Marca" : "Edit Item";
    },
  },

  methods: {
    deleteItemConfirm() {
      this.marcas.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.marcas[this.editedIndex], this.editedItem);
      } else {
        this.marcas.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
